.TodoList .todo_incompleted {
    color:black;
    /* list-style: circle; */
  }
  
  .TodoList .todo_completed {
    color: gray;
    text-decoration: line-through 1px;
    list-style: disc;
  }
  .TodoList .todo_completed::marker {
    content: "✔ ";
  }
  